# Node.js
**/node_modules/
**/npm-debug.log
**/yarn-error.log

# Environment variables
**/.env
**/.env.local
**/.env.*.local

# Build artifacts
**/build/
**/dist/
mongo_service_python/testproject-3ef55-firebase-adminsdk-faisi-95d260ef38.json
mongo_service_python/testproject-3ef55-firebase-adminsdk-faisi-95d260ef38.json
mongo_service_python/authToken.json
