# Node.js
**/node_modules/
**/npm-debug.log
**/yarn-error.log

# Environment variables
**/.env
**/.env.local
**/.env.*.local

# Build artifacts
**/build/
**/dist/

# Service files
mongo_service_python/testproject-3ef55-firebase-adminsdk-faisi-95d260ef38.json
mongo_service_python/authToken.json
firebase_service_python/authToken.json

# Visual Studio files
.vs/movie-theater-reservation/FileContentIndex/4d2150e1-604d-4975-809d-1410fdabbaf9.vsidx
.vs/movie-theater-reservation/FileContentIndex/read.lock
.vs/movie-theater-reservation/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json

# .NET artifacts
dotnet-apigateway-ocelot/obj/Debug/net7.0/dotnet-apigateway-ocelot.AssemblyInfo.cs
dotnet-apigateway-ocelot/obj/Debug/net7.0/dotnet-apigateway-ocelot.assets.cache
dotnet-apigateway-ocelot/obj/Debug/net7.0/dotnet-apigateway-ocelot.GeneratedMSBuildEditorConfig.editorconfig
dotnet-apigateway-ocelot/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
dotnet-apigateway-ocelot/obj/Release/net7.0/dotnet-apigateway-ocelot.AssemblyInfo.cs
dotnet-apigateway-ocelot/obj/Release/net7.0/dotnet-apigateway-ocelot.AssemblyInfoInputs.cache
dotnet-apigateway-ocelot/obj/Release/net7.0/dotnet-apigateway-ocelot.assets.cache
dotnet-apigateway-ocelot/obj/Release/net7.0/dotnet-apigateway-ocelot.csproj.AssemblyReference.cache
dotnet-apigateway-ocelot/obj/Release/net7.0/dotnet-apigateway-ocelot.GeneratedMSBuildEditorConfig.editorconfig
dotnet-apigateway-ocelot/obj/Release/net7.0/dotnet-apigateway-ocelot.GlobalUsings.g.cs

# Firebase service Python
firebase_service_python/.idea/firebase_service_python.iml
firebase_service_python/__pycache__/order_pb2.cpython-310.pyc
firebase_service_python/__pycache__/order_pb2_grpc.cpython-310.pyc

# Razor Pages
OrderServiceClientAPI/obj/Debug/net7.0/project.razor.json

# Miscellaneous duplicates

# Include .idea directory
.idea
OrderServiceClientAPI/bin/Debug/net7.0/OrderServiceClientAPI.dll
OrderServiceClientAPI/bin/Debug/net7.0/OrderServiceClientAPI.exe
OrderServiceClientAPI/bin/Debug/net7.0/OrderServiceClientAPI.pdb
OrderServiceClientAPI/obj/Debug/net7.0/12fbc7ffe642ca7e_order.protodep
OrderServiceClientAPI/obj/Debug/net7.0/apphost.exe
OrderServiceClientAPI/obj/Debug/net7.0/OrderServiceClientAPI.assets.cache
OrderServiceClientAPI/obj/Debug/net7.0/OrderServiceClientAPI.csproj.AssemblyReference.cache
OrderServiceClientAPI/obj/Debug/net7.0/OrderServiceClientAPI.csproj.CoreCompileInputs.cache
OrderServiceClientAPI/obj/Debug/net7.0/OrderServiceClientAPI.csproj.FileListAbsolute.txt
OrderServiceClientAPI/obj/Debug/net7.0/OrderServiceClientAPI.dll
OrderServiceClientAPI/obj/Debug/net7.0/OrderServiceClientAPI.GeneratedMSBuildEditorConfig.editorconfig
OrderServiceClientAPI/obj/Debug/net7.0/OrderServiceClientAPI.genruntimeconfig.cache
OrderServiceClientAPI/obj/Debug/net7.0/OrderServiceClientAPI.MvcApplicationPartsAssemblyInfo.cs
OrderServiceClientAPI/obj/Debug/net7.0/OrderServiceClientAPI.pdb
OrderServiceClientAPI/obj/Debug/net7.0/Protos/Order.cs
OrderServiceClientAPI/obj/Debug/net7.0/Protos/OrderGrpc.cs
OrderServiceClientAPI/obj/OrderServiceClientAPI.csproj.nuget.dgspec.json
OrderServiceClientAPI/obj/OrderServiceClientAPI.csproj.nuget.g.props
OrderServiceClientAPI/obj/project.assets.json
OrderServiceClientAPI/obj/project.nuget.cache
OrderServiceClientAPI/obj/project.packagespec.json
OrderServiceClientAPI/obj/rider.project.restore.info

firebase_service_python/Protos/order_pb2.py
firebase_service_python/Protos/order_pb2_grpc.py
firebase_service_python/Protos/scheduler_pb2.py
firebase_service_python/Protos/scheduler_pb2_grpc.py
firebase_service_python/requirements.txt
*.pyc
*.txt
*.py
UserServiceClientAPI/.vs/UserServiceClientAPI/FileContentIndex/00b66b77-4cbf-4efe-8863-a982177c9418.vsidx
UserServiceClientAPI/.vs/UserServiceClientAPI/FileContentIndex/1d1b7496-e24b-4516-b574-0d70a3ab47bc.vsidx
UserServiceClientAPI/.vs/UserServiceClientAPI/FileContentIndex/5b90eed8-4775-4379-a7f8-47ca1f46bc22.vsidx
UserServiceClientAPI/.vs/UserServiceClientAPI/FileContentIndex/f7da5dec-0036-4177-b495-73fd8f13202d.vsidx
UserServiceClientAPI/.vs/ProjectEvaluation/userserviceclientapi.projects.v6.1
