body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
}

#movies-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    
}

.movie {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #080808;
    border-radius: 5px;
    cursor: pointer;
}
