body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
}

.form-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

#register-form, #login-form {
    display: flex;
    flex-direction: column;
}

#register-form input, #login-form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
}
